.cart-container {
  /* background-image: url('https://wallpapercave.com/wp/wp6897369.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
  padding: 2em;
}
.empty-cart-message {
  background-color: white;
    padding: 2em;
    text-align: center;
    border-radius: 4px;
    margin: 10em 20em

}

.empty-cart-message button{
    background-color:rgb(174, 191, 174);
    padding: 1em 3em;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
    margin-left: 1em
}
.empty-cart-message button:hover {
 background-color:rgb(174, 191, 174);
  color: white;
}

.cart-table-info {
  display: flex;
  gap:2em;
  margin: 4em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
} 
.cart-table {
    /* background-color: white; */
    width: 80%;
    border-radius: 4px;
}

.product-card-img {
  max-height: 12em;
  align-content: left;

}
.cart-total-aside {
    width: 30%;
    border-radius: 4px;
    padding: 0.5em;
}

.keep-shopping {
  margin-top:1em;
}
.cart-item-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart-item-row img {
  max-width:4em;
}

tr:hover {
  background: rgb(238, 234, 234)
}
