* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


.auth-page-container {
    background-image: url('https://wallpapercave.com/wp/wp6897369.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em;
  height: 100vh;
}

 .login-page, .signup-page{
  background-color: white;
    border-radius: 4px;
  width: 50%;
  margin: 0 auto;
  padding: 3em
 }
.auth-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.auth-form button {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(174, 191, 174);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}