body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh; 
} 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.product-list {
  display: flex;
  margin: 2em;
  gap: 2em; 
  flex-wrap: wrap;
  
}
.product-card-img {
  /* max-width: 100%; */
  max-height: 12em;

}

.cart-page {
  display:flex;
  justify-content: space-evenly;
  gap:5em
}

.cart-item-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart-item-row img {
  max-width:6em
}

/* style={{ marginTop: 'auto' }} */