.nav-bar {
   padding: 0 8px;
   background-color:rgb(174, 191, 174);
    color:white
}

.cart-qty{
    border: 1px solid  ;
    border-radius: 100%;
    padding:12px;
    color: black;
    margin: .5em;
}