.product-list-container {
    margin: 1em
 
}

 .search-filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  gap:  2em;
 }

.search-bar{

  outline:none;
  border-radius: 3px;
  width: 10%
 }

 .loading-text {
  color: white;
  text-align: center;
 }

.product-list {
  display: flex;
  justify-content: space-evenly;
  gap: 3em; 
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

