.product-details-container
{
  margin: 1em;
}

.product-details {
    background-color: white;
    display: flex;
    padding: 0 2em;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
     text-align: justify;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.product-details img {
    width: 90%;
 
}
.product-description {
    padding: 2em
}

.product-reqs {
    margin: 2em;
    text-align: justify;
}
.all-products-return {
    padding: 2em;
    color:rgb(174, 191, 174);
    text-align: center;
    text-transform: uppercase;
}